header#main-header {
    width: 100px;
    height: 60px;
    background: magenta;
    font-size: 18px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}